{
  "defaultConfig": {
    "buildEntry": "main.mjs",
    "scriptEntry": "scripts/index.js",
    "buildDir": "dev/",
    "dependencies": [
      {
        "module_name": "@minecraft/server",
        "version": "1.8.0"
      }
    ]
  },
  "libraries": [
    {
      "path": "lib/"
    }
  ],
  "resources": [
    {
      "path": "res/"
    }
  ],
  "scripts": [
    {
      "path": "scripts/"
    }
  ]
}